table {
    border-collapse: collapse;
    margin: 20px 0;
    margin: auto;
}

th, td {
    padding: 10px;
    border: 1px solid #5b5959;
}

th {
    font-weight: bold;
    text-align: center;
}

td:last-child {
    text-align: center;
}

body {
    background-color: #faf0e6;
    margin: auto;
}

button {
    font-size: 20px;
}

li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

header {
    display: flex;
    justify-content: center;
    color: #cfc6b2;
}

a {
    text-decoration: none;
    color: #8686c8;

}
a:hover {
    color: #d64d94;
}

thead {
    font-size: 1.4rem;
}

tbody {
    font-size: 1.2rem;
}